{{>licenseInfo}}

{{#models}}
{{#model}}
{{#tsImports}}
import { type {{classname}} } from '{{filename}}{{importFileExtension}}';
{{#-last}}

{{/-last}}
{{/tsImports}}
{{#description}}
/**
 * {{{.}}}
 */
{{/description}}
{{^isEnum}}
{{#oneOf}}
{{#-first}}{{>model/modelOneOf}}{{/-first}}
{{/oneOf}}
{{^oneOf}}
export interface {{classname}} {
{{#vars}}

{{#description}}
    /**
     * {{.}}
     */
{{/description}}
    {{#lambda.titlecase}}{{name}}{{/lambda.titlecase}}{{^required}}?{{/required}}: {{#isEnum}}{{{datatypeWithEnum}}}{{/isEnum}}{{^isEnum}}{{{dataType}}}{{/isEnum}}{{#isNullable}} | null{{/isNullable}};
{{/vars}}
}
{{#hasEnums}}

{{#vars}}
{{#isEnum}}
export type {{classname}}{{enumName}} = {{#allowableValues}}{{#enumVars}}{{{value}}}{{^-last}} | {{/-last}}{{/enumVars}}{{/allowableValues}};
{{/isEnum}}
{{/vars}}

{{/hasEnums}}
{{/oneOf}}
{{/isEnum}}
{{#isEnum}}
export type {{classname}} = {{#allowableValues}}{{#enumVars}}{{{value}}}{{^-last}} | {{/-last}}{{/enumVars}}{{/allowableValues}};
{{/isEnum}}
{{/model}}
{{/models}}